<div class="card login-card">
  <h3 class="card-header p-3">Sign in to Tech Blog</h3>
  <class class="card-body">
    <form class="login-form">
      <div class="form-group row">
        <label for="username" class="col-sm-4 col-form-label">Username</label>
        <div class="col">
          <input type="text" class="form-control login-username">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-4 col-form-label">Password</label>
        <div class="col">
          <input type="password" class="form-control login-password">
        </div>
      </div>
      <div class="form-group row justify-content-end">
        <div class="col">
          <button type="submit" class="btn btn-success mt-5 login-btn">Sign In</button>
        </div>
      </div>
    </form>
    <div class="signup-link-cont mt-5 p-3 d-flex justify-content-center">
      <p class="m-0">New to Tech Blog?</p>
      <a href="/signup" class="m-0">
        <span class="blue">create</span>
        <span class="teal">new</span>
        <span class="yellow">Account</span>
      </a>
    </div>
  </div>
</div>
</div>
