<div class="card login-card">
  <h3 class="card-header p-3">Sign up for Tech Blog</h3>
  <class class="card-body">
    <form>
      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <div class="col">
          <input type="email" class="form-control sign-up-email">
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-4 col-form-label">Username</label>
        <div class="col">
          <input type="text" class="form-control sign-up-username">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-4 col-form-label">Password</label>
        <div class="col">
          <input type="password" class="form-control sign-up-password">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-form-label">Confirm Password</label>
        <div class="col">
          <input type="password" class="form-control sign-up-password-confirm">
        </div>
      </div>
      <div class="form-group row justify-content-end">
        <div class="col">
          <button type="submit" class="btn btn-success mt-5 login-btn">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
